<template name="addUser">
  {{> alerts}}
  <div class="row-fluid">
    <div class="span4">
      <form>
        <input class="input-block-level" type="text" name="email" placeholder="Email address"/>
        <input class="input-block-level" type="password" name="password" placeholder="Password" />
        <span style="padding-right: 5px;" >Admin</span><input type="checkbox" name="admin"/><br /><br />
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</template>