<template name="settingsNewUser">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="four columns">
        <form>
          <input class="u-full-width" type="text" name="email" placeholder="Email">
          <input class="u-full-width" type="password" name="password" placeholder="Password">
          <input class="u-full-width" type="password" name="confirm-password" placeholder="Confirm password">
          <div class="row">
            <label for="is-admin">Is Admin</label>
            <input type="checkbox" name="admin">
          </div>
          <button class="button-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
