<template name="settingsUser">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="twelve columns">
        <h5>{{user.emails.[0].address}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p>Changing your own password will result will result in signout.</p>
        <h5>Change Password</h5>
        <form>
          <input class="u-full-width" type="password" name="password" placeholder="New Password">
          <input class="u-full-width" type="password" name="confirm-password" placeholder="Confirm password">
          <button class="button-primary">Submit</button>
        </form>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="six columns">
        <h5>Privileges</h5>
        {{#if user.isAdmin}}
          <button id="toggle-user-admin" class="button button-primary">Demote to user</button>
        {{else}}
          <button id="toggle-user-admin" class="button">Promote user to admin</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</template>
