<template name="addIssueHost">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="six columns">
        <form>
          <input class="u-full-width" type="text" name="ip" placeholder="IP Address">
          <input class="u-full-width" type="number" name="port" min="0" max="65535" step="any" placeholder="Port">
          <input class="u-full-width" type="text" name="protocol" placeholder="Protocol">
          <button class="button button-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
