<template name="issueNav">
<div class="subnav">
  <div class="container">
    <ul>
      <li class="{{isActive 'issueDescription' }}">{{#linkTo route="issueDescription" id=projectId iid=issue._id}}DESCRIPTION{{/linkTo}}</li>
      <li class="{{isActive 'issueEvidence' }}">{{#linkTo route="issueEvidence" id=projectId iid=issue._id}}EVIDENCE{{/linkTo}}</li>
      <li class="{{isActive 'issueSolution' }}">{{#linkTo route="issueSolution" id=projectId iid=issue._id}}SOLUTION{{/linkTo}}</li>
      <li class="{{isActive 'issueHostList' }}">{{#linkTo route="issueHostList" id=projectId iid=issue._id}}HOSTS{{/linkTo}}</li>
      <li class="{{isActive 'issueCVEList' }}">{{#linkTo route="issueCVEList" id=projectId iid=issue._id}}CVE{{/linkTo}}</li>
      <li class="{{isActive 'issueReferenceList' }}">{{#linkTo route="issueReferenceList" id=projectId iid=issue._id}}REFERENCES{{/linkTo}}</li>
      <li class="{{isActive 'issueNoteList' }}">{{#linkTo route="issueNoteList" id=projectId iid=issue._id}}NOTES{{/linkTo}}</li>
      <li class="{{isActive 'issueFileList' }}">{{#linkTo route="issueFileList" id=projectId iid=issue._id}}FILES{{/linkTo}}</li>
      <li class="{{isActive 'issueSettings' }}">{{#linkTo route="issueSettings" id=projectId iid=issue._id}}SETTINGS{{/linkTo}}</li>
      <li><a href="{{pathFor route=routeName id=projectId iid=issue._id}}/prev" title="Alt+p"><i class="fa fa-chevron-left fa-lg"></i></a></li>
      <li><a href="{{pathFor route=routeName id=projectId iid=issue._id}}/next" title="Alt+n"><i class="fa fa-chevron-right fa-lg"></i></a></li>
    </ul>
  </div>
</div>
</template>
