<template name="newAuthInterface">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="six columns">
        <form>
          <input type="text" class="u-full-width" name="kind" placeholder="Kind">
          <input type="text" class="u-full-width" name="url" placeholder="URL">
          <input type="text" class="u-full-width" name="description" placeholder="Description">
          <label>Multi-factor</label><input class="interface-checked" name="multifactor" type="checkbox"><br />
          <button class="button button-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
