<template name="hotKeys">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="twelve columns">
        <h3>Hotkeys</h3>
        <ul class="list-unstyled">
          <li>alt+n Move to next item</li>
          <li>alt+p Move to previous item</li>
          <li>alt+s Change status of item</li>
          <li>alt+f Toggle flag of item</li>
          <li>ctrl+shift+alt+g Change status of item to gray</li>
          <li>alt+shift+b Change status of item to blue</li>
          <li>alt+shift+g Change status of item to green</li>
          <li>alt+shift+o Change status of item to orange</li>
          <li>alt+shift+r Change status of item to red</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</template>
