<template name="hostOsList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      {{> hostGist}}
      {{> hostNav}}
      <div class="row-fluid">
        <div class="span12">
            <a href="/project/{{projectId}}/hosts/{{hostId}}/os/new" class="btn btn-success">Add a new fingerpint</a>
          <button id="remove-fingerprints" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th class="onepix"></th>
              <th><i style="padding-right: 5px" class="fa fa-plus fa-wt"></i>/<i class="fa fa-minus"></i></th>
              <th class="onepix">Weight</th>
              <th>Fingerprint</th>
              <th>Identified By</th>
            </tr>
            </thead>
            <tbody>
            {{#each fingerprints}}
            <tr>
              <td><input class="os-checked" id="{{tool}}-{{fingerprint}}-{{weight}}" type="checkbox" /></td>
              <td class="onepix"><button class="btn btn-primary increase-weight btn-mini"><i class="fa fa-plus"></i></button><button class="btn btn-primary btn-mini decrease-weight"><i class="fa fa-minus"></i></button></td>
              <td>{{weight}}</td>
              <td>{{fingerprint}}</td>
              <td>{{tool}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
