<template name="hostHostnameList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      {{> hostGist}}
      {{> hostNav}}
      <div class="row-fluid">
        <div class="span12">
            <a href="/project/{{projectId}}/hosts/{{hostId}}/hostnames/new" class="btn btn-success">Add a new hostname</a>
          <button id="remove-hostnames" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span6">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th class="onepix"></th>
              <th>Hostname</th>
            </tr>
            </thead>
            <tbody>
            {{#each hostnames}}
            <tr>
              <td><input class="hostname-checked" id="{{this}}" type="checkbox" /></td>
              <td>{{this}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        <div class="span6">
          <p style="padding-left: 7px">Links</p>
          <ul class="unstyled">
          {{#each links}}
            <li><a href="{{this}}">{{this}}</a></li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
