<template name="hostServiceList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      {{> hostGist}}
      {{> hostNav}}
      <div class="row-fluid">
        <div class="span12">
          <div class="btn-group">
            <button id="grey" type="button" class="btn port-status-button lair-grey {{portListStatusButtonActive 'grey'}}"></button>
            <button id="blue" type="button" class="btn port-status-button lair-blue {{portListStatusButtonActive 'blue'}}"></button>
            <button id="green" type="button" class="btn port-status-button lair-green {{portListStatusButtonActive 'green'}}"></button>
            <button id="orange" type="button" class="btn port-status-button  lair-orange {{portListStatusButtonActive 'orange'}}"></button>
            <button id="red" type="button" class="btn port-status-button  lair-red {{portListStatusButtonActive 'red'}}"></button>
            {{#if flagFilter}}
              <button type="button" id="flag-filter-disable" class="btn flag-filter hover-hand"><i class="fa fa-flag"></i></button>
            {{else}}
              <button type="button" id="flag-filter-enable" class="btn flag-filter hover-hand"><i class="fa fa-flag-o"></i></button>
            {{/if}}
          </div>
          <a href="/project/{{projectId}}/hosts/{{hostId}}/services/new" class="btn btn-success">Add a service</a>
          <button id="remove-ports" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
              <span class="pull-right">
                <input type="text" id="port-search" class="search-query" placeholder="Search" value="{{searchTerm}}"/>
               </span>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="onepix"></th>
              <th class="onepix"></th>
              <th class="onepix">Port</th>
              <th class="onepix">Protocol</th>
              <th>Service</th>
              <th>Product</th>
              <th>Last Modified By</th>
            </tr>
            </thead>
            <tbody>
            {{#each services}}
            <tr class="hover-hand">
              <td><input class="port-checked" id="{{_id}}" type="checkbox" /></td>
              <td>
              {{#if flag}}
                <i class="fa fa-flag flag-enabled hover-hand"></i>
              {{else}}
                <i class="fa fa-flag-o flag-disabled hover-hand"></i>
              {{/if}}
              </td>
              <td class="{{status}}"><a class="dontstyle" href="/project/{{projectId}}/services/{{_id}}">{{port}}</a></td>
              <td class="{{status}} port-status">{{protocol}}</td>
              <td class="{{status}} port-status">{{service}}</td>
              <td class="{{status}} port-status">{{product}}</td>
              <td class="{{status}}} port-status">{{last_modified_by}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <p>Displaying {{services.length}} of {{total}} rows.</p>
        </div>
        {{#if moreToShow}}
        <div class="span6">
          <p class="pull-right"><button style="margin-right: 5px" class="btn" id="load-more">Show More</button><button class="btn" id="load-all">Show All</button></p>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
