<template name="addPort">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span4">
      {{> alerts}}
      <form>
        <input name="port" class="input-block-level" type="number" min="0" max="65535" placeholder="Port" step="any" />
        <input name="protocol" type="text" class="input-block-level" placeholder="Protocol" />
        <input name="service" type="text" class="input-block-level" placeholder="Service" />
        <input name="product" type="text" class="input-block-level" placeholder="Product" />
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
