<template name="projects">
  <div class="row-fluid">
    <div class="span4">
      <table class="table table-striped table-bordered table-hover">
        <caption>Projects</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th class="onepix">Creation Date</th>
          </tr>
        </thead>
        <tbody>
        {{#each projects}}
          <tr>
            <td class="hover-hand project">{{project_name}}</td>
            <td>{{creation_date}}</td>
          </tr>
        {{/each}}
        </tbody>
        </table>
      <a class="btn btn-block btn-success" href="{{pathFor 'addProject'}}">Create a new project</a>
    </div>
    <div class="span8">
    {{> project}}
    </div>
  </div>

</template>
