<template name="credentials">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="twelve columns">
        <button id="remove-credentials" class="button lair-red"><i class="fa fa-trash fa-lg"></i></button>
          <input type="text" id="credentials-search" placeholder="Search..." name="search" value="{{savedSearch}}">
          <i class="fa fa-remove fa-lg clickable" id="remove-credentials-search" title="Clear text search"></i>
        <div class="u-pull-right">
          <a href="/projects/{{projectId}}/credentials/new" class="button button-primary">New Credential</a>
          <a href="/projects/{{projectId}}/credentials/bulk" class="button button-primary">Bulk Credential Upload</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th class="onepix"></th>
              <th class="onepix"></th>
              <th>Username</th>
              <th>Password</th>
              <th>Format</th>
              <th>Hash</th>
              <th>Host</th>
              <th>Service</th>
            </tr>
          </thead>
          <tbody>
            {{#each credentials}}
            <tr>
              <td class="onepix"><input  class="credential-checked" id="{{_id}}" type="checkbox"></td>
              <td class="onepix"><a href="/projects/{{projectId}}/credentials/{{_id}}"><i class="fa fa-pencil-square-o"></i></a></td>
              <td>{{username}}</td>
              <td>{{password}}</td>
              <td>{{format}}</td>
              <td>{{hash}}</td>
              <td>{{host}}</td>
              <td>{{service}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <p>Showing {{credentials.length}} of {{total}} credentials</p>
      </div>
    </div>
  </div>
</div>
</template>
