<template name="editCredential">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="five columns">
        <p>All fields are optional. An IP Address and/or service (port number) can be used to create a loose relationship to a host. Username can be used to create a loose relationship with a person by principal name.</p>
        <form>
          <label>Username</label>
          <input class="u-full-width" type="text" name="username" value="{{credential.username}}">
          <label>Password</label>
          <input class="u-full-width" type="text" name="password" value="{{credential.password}}">
          <label>Format</label>
          <input class="u-full-width" type="text" name="format" value="{{credential.format}}">
          <label>Hash</label>
          <input class="u-full-width" type="text" name="hash" value="{{credential.hash}}">
          <label>Host</label>
          <input class="u-full-width" type="text" name="host" value="{{credential.host}}">
          <label>Service</label>
          <input class="u-full-width" type="text" name="service" value="{{credential.service}}">
          <button class="button-primary">Submit</button>
       </form>
     </div>
    </div>
  </div>
</div>
</template>
