<template name="newCredential">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="five columns">
        <p>All fields are optional. An IP Address and/or service (port number) can be used to create a loose relationship to a host. Username can be used to create a loose relationship with a person.</p>
        <form>
         <input class="u-full-width" type="text" name="username" placeholder="Username">
         <input class="u-full-width" type="text" name="password" placeholder="Password">
         <input class="u-full-width" type="text" name="hash" placeholder="Hash">
         <input class="u-full-width" type="text" name="host" placeholder="Host">
         <input class="u-full-width" type="text" name="service" placeholder="Service">
         <button class="button-primary">Submit</button>
       </form>
     </div>
    </div>
  </div>
</div>
</template>
