<template name="serviceSearch">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      <div class="row-fluid">
        <div class="span12">
          <p>Searching returns a unique list services and associated hosts. All fields are optional and case insensitive.</p>
          <form class="form-inline">
            <input name="port" class="input-small" type="number" min="0" max="65535" placeholder="Port" step="any" />
            <input name="protocol" class="input-small" type="text" placeholder="Protocol" />
            <input name="service" class="input-medium" type="text" placeholder="Service (e.g. http)" />
            <input name="product" class="input-medium" type="text" placeholder="Product (e.g. nginx)" />
            <button type="submit" id="services-submit" class="btn"><i class="fa fa-search fa-wt"></i>Search</button>
            <button type="button" id="services-clear" class="btn"><i class="fa fa-refresh fa-wt"></i>Clear</button>
          </form>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="onepix">Port</th>
                <th class="onepix">Protocol</th>
                <th>Service</th>
                <th>Product</th>
              </tr>
            </thead>
            <tbody>
              {{#each services}}
              <tr class="port-row hover-hand">
                <td>{{port}}</td>
                <td>{{protocol}}</td>
                <td>{{service}}</td>
                <td>{{product}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{#if servicesWithHosts}}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="onepix"></th>
                <th class="onepix">IP Address</th>
                <th class="onepix">Port</th>
                <th class="onepix">Protocol</th>
                <th>Last Modified By</th>
              </tr>
            </thead>
            <tbody>
              {{#each servicesWithHosts}}
              <tr class="hover-hand">
                <td>
                  {{#if flag}}
                  <i class="fa fa-flag flag-enabled hover-hand"></i>
                  {{else}}
                  <i class="fa fa-flag-o flag-disabled hover-hand"></i>
                  {{/if}}
                </td>
                <td class="{{status}} port-status">{{string_addr}}</td>
                <td class="{{status}}"><a class="dontstyle" href="/project/{{projectId}}/services/{{_id}}/vulnerabilities">{{port}}</a>
                </td>
                <td class="{{status}} port-status">{{protocol}}</td>
                <td class="{{status}}} port-status">{{last_modified_by}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{/if}}
      </div>
      {{> serviceSearchHostList}}
      </div>
    </div>
  </div>
  </template>

  <template name="serviceSearchHostList">
        <div class="span6">
          <p style="padding-left: 7px">Hosts</p>
          <textarea id="host-textarea" class="copyonly full-height span12" readonly>{{hosts}}</textarea>
        </div>
  </template>
