<template name="addHost">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span4">
      {{> alerts}}
      <form>
        <input type="text" class="span12" placeholder="IP Address *Required" name="string-addr" />
        <input type="text" class="span12" placeholder="MAC Address" name="mac-addr" />
        <input type="text" class="span12" placeholder="Hostname" name="hostname" />
        <input type="text" class="span12" placeholder="Operating System" name="os" />
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
