<template name="hostCredentialList">
<div class="main">
  <div class="content-navd">
    {{> hostNav}}
  </div>
  <div class="container host-content">
    <div class="row">
      <div class="five columns">
        <button id="remove-credentials" class="button lair-red"><i class="fa fa-trash fa-lg"></i></button>
      </div>
      <div class="seven columns">
        <div class="u-pull-right">
          <a href="/projects/{{projectId}}/credentials/new" class="button button-primary">New Credential</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th sytle="width: 1px"></th>
              <th>Username</th>
              <th>Password</th>
              <th>Hash</th>
              <th>Host</th>
              <th>Service</th>
            </tr>
          </thead>
          <tbody>
            {{#each credentials}}
            <tr>
              <td style="width: 1px"><input  class="credential-checked" id="{{_id}}" type="checkbox"></td>
              <td>{{username}}</td>
              <td>{{password}}</td>
              <td>{{hash}}</td>
              <td>{{host}}</td>
              <td>{{service}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="host-gist">
  {{> hostGist}}
</div>
</template>
