<template name="hostNav">
  <div class="twelve columns">
    <ul class="nav nav-tabs">
      <li class="{{isActive 'hostServiceList' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/services">SERVICES</a></li>
      <li class="{{isActive 'hostIssueList' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/issues">ISSUES</a></li>
      <li class="{{isActive 'hostNoteList' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/notes">NOTES</a></li>
      <li class="{{isActive 'hostHostnameList' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/hostnames">HOSTNAMES</a></li>
      <li class="{{isActive 'hostWebDirectoryList' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/directories">WEB DIRECTORIES</a></li>
      <li class="{{isActive 'hostSettings' }}"><a href="/projects/{{projectId}}/hosts/{{host._id}}/settings">SETTINGS</a></li>
    </ul>
  </div>
</template>
