<template name="hostSettings">
  <div class="row">
    <div class="two columns">
      {{> sideNav}}
    </div>
    <div class="ten columns">
      <div class="row">
        {{> hostGist}}
      </div>
      <hr />
      <div class="row">
        {{> hostNav}}
      </div>
      <div class="row">
        <div class="three columns">
          <form>
            <input type="text" name="ip-delete" class="u-full-width" placeholder="IP Address to confirm delete">
            <button class="button lair-red">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
