<template name="newHost">
  <div class="row">
    <div class="five columns">
      <form>
        <input class="u-full-width" type="text" name="ipv4" placeholder="IP Address" />
        <input class="u-full-width" type="text" name="mac" placeholder="MAC" />
        <input class="u-full-width" type="text" name="hostname" placeholder="Hostname" />
        <input class="u-full-width" type="text" name="os" placeholder="OS" />
        <button class="button-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
