<template name="newHostIssue">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="twelve columns">
        <form>
          <input type="text" autocomplete="off" spellcheck="off" class="typeahead" size="50" data-source="justTitles" name="title" placeholder="Title">
          <input type="text" autocomplete="off" spellcheck="off" class="typeahead input-medium" data-source="justServices" name="service" placeholder="Service">
          <button class="button button-primary" style="vertical-align: top">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
