<template name="serviceNav">
  <div class="row-fluid">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li class="{{activeRouteClass 'serviceVulnerabilityList'}}"><a href="{{serviceVulnerabilityListPath projectId portId}}">Vulnerabilities</a></li>
        <li class="{{activeRouteClass 'serviceNoteList'}}"><a href="{{serviceNoteListPath projectId portId}}">Notes</a></li>
        <li class="{{activeRouteClass 'serviceCredentialList'}}"><a href="{{serviceCredentialListPath projectId portId}}">Credentials</a></li>
      </ul>
    </div>
  </div>
</template>