<template name="chat">
  <div id="chat-window">
    <div id="chat-title">
      {{#if isChatMinimized}}
        <i id="chat-icon" class="fa fa-comments"></i><h3> Messages</h3>
        <span class="pull-right hover-hand" id="expand-chat"><i class="fa fa-plus"></i></span>
      {{else}}
        <i id="chat-icon" class="fa fa-comments"></i><h3> Messages</h3>
        <span class="pull-right hover-hand" id="minimize-chat"><i class="fa fa-minus"></i></span>
      {{/if}}
    </div>
    <div id="chat-content">
      {{#each messages}}
        <div class="message">
          <p><span class="inline-bold">{{user}}:&nbsp;</span>{{message}}</p>
        </div>
      {{/each}}
    </div>
    <div id="chat-message">
      <textarea id="chat-new-message" rows="1" placeholder="New message"></textarea>
    </div>
  </div>
</template>
