<template name="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">LAIR</a>
        {{#if currentUser}}
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.emails.[0].address}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/changepassword">Change Password</a></li>
                <li><a href="/signout">Sign Out</a></li>
              </ul>
            </li>
          </ul>
          {{#if currentUser.isAdmin}}
            <ul class="nav pull-right">
              <li><a href="/settings">Settings</a></li>
            </ul>
          {{/if}}
          <ul class="nav pull-right">
          {{#if projectId}}
            <li class="nav-like-link">PID: {{projectId}}&nbsp;</li>
          {{/if}}
          {{#if projectName}}
            <li class="nav-like-link">Name: {{projectName}}</li>
          {{/if}}
          </ul>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
