<template name="sideNav">
  <ul class="nav nav-list">
  {{#with projectId}}
    <li class="{{activeRouteClass 'hostList'}}"><a href="/project/{{projectId}}/hosts">Hosts</a></li>
    <li class="{{activeRouteClass 'serviceSearch'}}"><a href="/project/{{projectId}}/services">Services</a></li>
    <li class="{{activeRouteClass 'vulnerabilityList'}}"><a href="/project/{{projectId}}/vulnerabilities">Vulnerabilities</a></li>
    <li class="{{activeRouteClass 'noteList'}}"><a href="/project/{{projectId}}/notes">Notes</a></li>
    <li class="{{activeRouteClass 'credentialList'}}"><a href="/project/{{projectId}}/credentials">Credentials</a></li>
    <li class="{{activeRouteClass 'contributors'}}"><a href="/project/{{projectId}}/contributors">Contributors</a></li>
    <li class="{{activeRouteClass 'fileList'}}"><a href="/project/{{projectId}}/files">Files</a></li>
    <li class="{{activeRouteClass 'droneLog'}}"><a href="/project/{{projectId}}/log">Log</a></li>
  {{/with}}
  </ul>
</template>
