<template name="fileList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      <div class="row-fluid">
        <div class="span12">
          <button class="btn btn-danger" id="remove-files"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span6">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th class="onepix"></th>
              <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {{#each files}}
            <tr>
              <td><input class="file-checked" id="{{name}}@{{url}}" type="checkbox" /></td>
              <td><a href="{{url}}">{{name}}</a></td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        <div class="span6">
          <form>
            <p>Add link to file</p>
            <input type="text" name="file-name" class="input-block-level" placeholder="Name" />
            <input type="text" name="file-url" class="input-block-level" placeholder="URL" />
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
