<template name="addCredential">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span4">
      {{> alerts}}
      <p>All fields are optional, blank fields will be filled with 'unknown'.</p>
      <form>
        <input type="text" class="span12" placeholder="Username" name="username" />
        <input type="text" class="span12" placeholder="Password" name="password" />
        <input type="text" class="span12" placeholder="Hash" name="hash" />
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
