<template name="serviceCredentialList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      {{> serviceGist}}
      {{> serviceNav}}
      <div class="row-fluid">
        <div class="span12">
            <a href="/project/{{projectId}}/services/{{portId}}/credentials/new" class="btn btn-success">Add a new set of credentials</a>
          <button id="remove-credentials" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th class="onepix"></th>
              <th>Username</th>
              <th>Password</th>
              <th>Hash</th>
            </tr>
            </thead>
            <tbody>
            {{#each credentials}}
            <tr>
              <td><input class="credential-checked" id="{{username}}-{{password}}" type="checkbox" /></td>
              <td>{{username}}</td>
              <td>{{password}}</td>
              <td>{{hash}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
