lair-grey = #95a5a6
lair-blue = #3498db
lair-green = #2ecc71
lair-orange = #f39c12
lair-red = #e74c3c
high = #e74c3c
medium = #f39c12
low = #3498db
skblue = #33c3f0
greyishblue = #ededed

a
  text-decoration none

.note-port
  margin-right 10px

.log-box
  word-break break-all
  border 1px solid #2c3e50
.gist form
  margin 0
.gist li
  margin 0
.lair-red
  color #ffffff
.lair-red:hover
  color #ffffff

.issue-gist-confirm
  margin-left 10px
.hidden
  display none

.signin-banner
  text-align: center

.tag
  margin-left 5px
  background skblue
  color #ffffff
  padding-left 5px
  padding-right 5px
  border-radius 5px

.clickable
  cursor pointer

.u-pull-left
  float left

.container
  min-width: 95%

.main
  padding-top 30px

.navbar
  font-size: 20px
  min-width 100%
  height 40px
  background #2c3e50
  line-height 40px
  color #ffffff
  ul
    list-style-type none
    li
      display inline
      i
        padding-left 10px
  a
    text-decoration none
    color inherit

.sidenav-info
  li
    color: #95a5a6
.sidenav
  li
    margin 0
    padding 5px
  a
    text-decoration none

.list-unstyled
  list-style-type none

.list-projects
  li
    padding 5px
    min-height 50px
    border-bottom 1px solid #cdcdcd
  a
    text-decoration none
.project-name
  font-size 20px

.status-span
  margin-left 10px
  width 30px

.hostname
  margin-left 10px
.list-alternate
  li
    margin 0
    padding 5px 5px 0 5px
    border 1px solid #ddd
  li:nth-child(odd)
    background-color greyishblue

.list-hosts
  li:hover
    .hidden
      display block
  li
    border 1px solid #ddd
    margin 0
    padding 10px
  li:nth-child(odd)
    background-color greyishblue
  a
    text-decoration none
  .right
    margin-left 10px
  .left
    margin-right 10px

.list-hosts-top
  margin-bottom 5px
  span:not(:last-child)
    margin-right 10px

.host-list-ip
  width 120px

.list-services
  li
    border 1px solid #ddd
    margin 0
    padding 5px 5px 0 5px
  li:nth-child(odd)
    background-color greyishblue
  a
    text-decoration none
  span:not(:last-child)
    margin-right 10px

.service-list-port
  width 80px

.lair-green-text
  color lair-green

.issue-hosts-button
  margin-left 10px
.list-issues
  li
    padding 10px 10px 10px 0
    margin 0
    border 1px solid #ddd
  .issue-checkbox
    float left
    margin-left 10px
    margin-right 10px
  .rating
    float left
    min-width 50px
    text-align center
    padding 10px
    margin-top -10px
  .title
    margin-left 10px
  .issue-confirmed
    margin-left 10px
    float left
  .issue-flag
    float left
    margin-left 10px
  .issue-status
    float left
    margin-left 10px
    width 30px
  .issue-hosts
    float right
    margin-right 10px
  .last-modified-by
    float right
  li:nth-child(odd)
    background-color greyishblue
  a
    text-decoration none

.issue-high
  background-color high
.issue-medium
  background-color medium
.issue-low
  background-color low

.lair-grey
  background lair-grey
  border 1px solid lair-grey
.lair-blue
  background lair-blue
  border 1px solid lair-blue
.lair-green
  background lair-green
  border 1px solid lair-green
.lair-orange
  background lair-orange
  border 1px solid lair-orange
.lair-red
  background lair-red
  border 1px solid lair-red
.disabled
  opacity: 0.4

.list-inline
  li
    display inline

.active
  font-weight bold

.nav-tabs
  list-style none
  padding-bottom 10px
  & > li
    margin-right 10px
    padding 5px
    display inline
    & > a
      text-decoration none
