<template name="newNetblock">
<div class="main">
  <div class="content container">
    <div class="row">
      <div class="six columns">
        <p>Fields are taken from the excellent <a href="https://github.com/secynic/ipwhois">IPWhois</a> library.</p>
        <form>
          <input type="text" class="u-full-width" name="asn" placeholder="ASN">
          <input type="text" class="u-full-width" name="asn-country-code" placeholder="ASN Country Code">
          <input type="text" class="u-full-width" name="asn-cidr" placeholder="ASN CIDR">
          <input type="text" class="u-full-width" name="asn-date" placeholder="ASN Date">
          <input type="text" class="u-full-width" name="asn-reg" placeholder="ASN Registry">
          <input type="text" class="u-full-width" name="cidr" placeholder="CIDR">
          <input type="text" class="u-full-width" name="description" placeholder="Description">
          <input type="text" class="u-full-width" name="handle" placeholder="Handle">
          <input type="text" class="u-full-width" name="abuse-emails" placeholder="Abuse Email">
          <input type="text" class="u-full-width" name="misc-emails" placeholder="Misc. Email">
          <input type="text" class="u-full-width" name="tech-emails" placeholder="Tech. Email">
          <input type="text" class="u-full-width" name="name" placeholder="Name">
          <input type="text" class="u-full-width" name="address" placeholder="Address">
          <input type="text" class="u-full-width" name="city" placeholder="City">
          <input type="text" class="u-full-width" name="state" placeholder="State">
          <input type="text" class="u-full-width" name="country" placeholder="Country">
          <input type="text" class="u-full-width" name="postal-code" placeholder="Postal Code">
          <input type="text" class="u-full-width" name="created" placeholder="Created Date">
          <input type="text" class="u-full-width" name="updated" placeholder="Updated Date">
          <button class="button-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
