<template name="hostWebDirectoryList">
  <div class="row-fluid">
    <div class="span2">
      {{> sideNav}}
    </div>
    <div class="span10">
      {{> alerts}}
      {{> hostGist}}
      {{> hostNav}}
      <div class="row-fluid">
        <div class="span12">
          <div class="btn-group">
            {{#if flagFilter}}
              <button type="button" id="flag-filter-disable" class="btn flag-filter hover-hand"><i class="fa fa-flag"></i></button>
            {{else}}
              <button type="button" id="flag-filter-enable" class="btn flag-filter hover-hand"><i class="fa fa-flag-o"></i></button>
            {{/if}}
          </div>
          <button id="remove-path" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
          <span class="pull-right">
            <input type="text" id="directory-search" class="search-query" placeholder="Search" value="{{searchTerm}}"/>
          </span>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="span8">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="onepix"><input id="select-all-shown" name="select-all-shown" type="checkbox" /></th>
              <th class="onepix"></th>
              <th>Path</th>
              <th class="onepix">Response Code</th>
              <th class="onepix">Port</th>
            </tr>
            </thead>
            <tbody>
            {{#if paths}}
            {{#each paths}}
            <tr>
              <td><input class="path-checked" id="{{path_clean}}" type="checkbox" /></td>
              <td>
              {{#if flag}}
                <i class="fa fa-flag flag-enabled hover-hand"></i>
              {{else}}
                <i class="fa fa-flag-o flag-disabled hover-hand"></i>
              {{/if}}
              </td>
              <td class="{{status}}">{{path}}</td>
              <td class="dontstyle">{{response_code}}</td>
              <td><a class="dontstyle" href="/project/{{projectId}}/services/{{port}}/vulnerabilities">{{port}}</a></td>
            </tr>
            {{/each}}
            {{else}}
            <tr><td colspan="5">No web directories have been either added or match your search filter.</td></tr>
            {{/if}}
            </tbody>
          </table>
        </div>
        <div class="span4">
          <form>
            <input type="text" name="path" placeholder="Path" class="input-block-level" />
            <input type="text" name="response_code" placeholder="Response Code" class="input-block-level" />
            <input type="text" name="port" placeholder="Port" class="input-block-level" />
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <p>Displaying {{paths.length}} rows</p>
        </div>
      </div>
      {{#if moreToShow}}
      <div class="span6">
        <p class="pull-right"><button style="margin-right: 5px" class="btn" id="load-more">Show More</button><button class="btn" id="load-all">Show All</button></p>
      </div>
      {{/if}}
    </div>
  </div>
</template>
