<template name="header">
  <div class="navbar">
    <div class="navbar-content">
      <span class="brand"><a href="/">LAIR</a></span>
      <ul class="u-pull-right">
        <li>{{#linkTo route="hotKeys"}}<i class="fa fa-info"></i>{{/linkTo}}</li>
        {{#if currentUser.isAdmin}}
        <li>{{#linkTo route="settings"}}<i class="fa fa-cogs"></i>{{/linkTo}}</li>
        {{/if}}
        <li>{{#linkTo route="me"}}<i class="fa fa-user"></i>{{/linkTo}}</li>
        <li>{{#linkTo route="signout"}}<i class="fa fa-sign-out"></i>{{/linkTo}}</li>
      </ul>
    </div>
  </div>
</template>
