<template name="header">
  <div class="navbar">
    <div class="navbar-content">
      <span class="brand"><a href="/">LAIR</a></span>
      <ul class="u-pull-right">
        <li><a href="/info"><i class="fa fa-info"></i></a></li>
        {{#if currentUser.isAdmin}}
        <li><a href="/settings"><i class="fa fa-cogs"></i></a></li>
        {{/if}}
        <li><a href="/me"><i class="fa fa-user"></i></a></li>
        <li><a href="/signout"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</template>
