<template name="sideNav">
  <ul class="list-unstyled sidenav">
    <li class="{{isActive 'hostList'}}"><a href="/projects/{{projectId}}/hosts">HOSTS</a></li>
    <li class="{{isActive 'services'}}"><a href="/projects/{{projectId}}/services">SERVICES</a></li>
    <li class="{{isActive 'issueList'}}"><a href="/projects/{{projectId}}/issues">ISSUES</a></li>
    <li class="{{isActive 'peopleList'}}"><a href="/projects/{{projectId}}/people">PEOPLE</a></li>
    <li class="{{isActive 'noteList'}}"><a href="/projects/{{projectId}}/notes">NOTES</a></li>
    <li class="{{isActive 'projectSettings'}}"><a href="/projects/{{projectId}}/settings">SETTINGS</a></li>
    <li class="{{isActive 'log'}}"><a href="/projects/{{projectId}}/log">LOG</a></li>
  </ul>
  <ul class="list-unstyled sidenav-info">
    <li>PID: {{projectId}}</li>
  </ul>
</template>
